<%= render "/layouts/navbar" %>

<div class="container">
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">  
  <%= form_with model: @event do |form| %>
    <%= form.label :title, "The name of my event:", class: "label" %>
    <div class="control">
      <%= form.text_field :title, class: "input" %>
    </div>
    <%= form.label :location, "Location:", class: "label" %>
    <div class="control has-icons-left">
      <%= form.text_field :location, class: "input" %>
      <span class="icon is-small is-left">
        <i class="fa-solid fa-location-pin"></i>
      </span>
    </div>
    <%= form.label :description, "Description:", class: "label"%>
    <div class="control">
      <%= form.text_area :description, class: "input" %>

    </div>
    <%= form.label :event_date, "Date:", class: "label" %>
    <div class="control">
      <%= form.date_field :event_date, class: "input" %>
    </div>
    <br>
    <%= form.submit "Submit", class: "button is-primary" %>
  <% end %>
  </div>
</div>